h1, h2, h3, h4, h5, h6 { color: #404040; font-weight: bold;}
h1, h2, h3, h4, h5, h6 { line-height: 36px; }
h1 { font-size: 30px; margin-bottom: 18px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { color: #BFBFBF; font-size: 13px; text-transform: uppercase; }
//body { padding-top: 60px; font-family: "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
body { padding-top: 60px; font-family: Tahoma, "Microsoft YaHei", "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif; font-size: 12px; }
